@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "GowunBatang-Regular";
  src: url("../public/assets/GowunBatang-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GowunBatang-Bold";
  src: url("../public/assets/GowunBatang-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[data-color-mode="dark"] {
  --w-md-editor-background: #2424d1;
  --w-md-editor-color: #cf1919;
  --w-md-editor-preview-background: #2c2ccf;
  --w-md-editor-toolbar-background: #0000de;
  --w-md-editor-preview-color: #f72e2e;
}
